<h2><%= @article.title %></h2>
<p><%= @article.body  %></p>

<li><%= link_to 'Edit', edit_article_path(@article) %></li>
<li><%= link_to 'Destroy', article_path(@article),data: {
    turbo_method: :delete,
    turbo_confirm: 'Are you sure?'
  } %></li>


<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commentor:</strong>
    <%= comment.commentor %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commentor %><br>
    <%= form.text_field :commentor %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
